<%- include("partials/header") -%>

<div class="compose">
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" class="form-control">
            <label for="postBody">Post</label>
            <textarea name="postBody" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>
</div>

<div class="delete">
<h1>Delete</h1>
<form action="/compose" method="POST">
    <div class="form-group">
        <label for="deleteTitle">Post to delete</label>
        <input type="text" name="postToDelete" class="form-control" placeholder="post title">
    </div>
    <button type="submit" name="button" class="btn btn-warning">Submit</button>
</form>
</div>

<%- include("partials/footer") -%>
